@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v22/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hOA-a1biLD-H.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
:root {
  /* colors */
  --primary_color: #EB455F;
  --primary_color_min: #ed5f74d1;
  --second_color:#FCFFE7;
  --black: #000;
  --wihte: #fff;
  --wihte-2:#eee;
  
  /* background */
  --main_background:#FCFFE7;
  --sec_main_background:#8c838480;

  /* fonts */
  --font_main:#171717;
  --sec_font:#252020;

  /* hover */ 
  --hover_main:#242323; 
  --sec_hover:#3c2f2f;

/* header */ 
--bg_color_header: #f6f6f6; 
--font_color_header: #EDEDED; 

/* sidbar */
--bg_color_sidbar: #f6f6f6; 
--font_color_sidbar: #191919; 

  /* color with opacity */      
  --black_opacity-6: rgba(0, 0, 0, 0.6);
  --black_opacity-2: rgba(0, 0, 0, 0.2);
  --wihte_opacity-55 :#ffffff8c;
  

  /* hamburger - top bar */ 
  --hamburgerNotActive: #000;
  --hamburgerActive: #000; 
  --balance: #EDEDED;  
  --padding: 8%;
  --bgOrang: #fff;
  --navOrang: #EB455F;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "El Messiri", sans-serif;
  font-size: 16px;
  color: var(--black);
}
body{
  font-family: 'Cairo' !important
}
.btn-primary{
  background-color:var(--primary_color) !important;
  border: 1px solid var(--primary_color) !important;
  color: var(--wihte) !important;
}
.btn-primary:hover{
  background-color:var(--primary_color_min) !important;
  border: 1px solid var(--wihte) !important;
  color: var(--wihte) !important;
}
a:hover {
  color: inherit !important;
}
p {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

.layerOver.active {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--black_opacity-6);
  left: 0;
  top: 0;
  z-index: 20;
  /* visibility: hidden;  */
  transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
}
h2 {
  font-size: 2.2rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
}
a {
  text-decoration: none !important;
}
nav {
  padding: 0.6rem 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  width: 100%;
  margin-top: 80px;
}

.input_search {
  width: 100%;
}
/* navbar */
.home nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.8rem 0.8rem;
}
.home nav ul li a {
  text-decoration: none;
  color: var(--navBlue);
  text-transform: capitalize;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.home nav ul li a:hover {
  text-decoration: none;
  color: var(--navYellow);
  text-transform: capitalize;
}

.span1 {
  display: block;
  width: 20px;
  height: 3px;
  background-color: var(--hamburgerNotActive);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transform-origin: 0 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  margin-bottom: 5px;
}
.span2 {
  display: block;
  width: 12px;
  height: 3px;
  background-color: var(--hamburgerNotActive);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transform-origin: 0 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  margin-bottom: 5px;
}

/* end navbar */

.form_search,
.content-table-data {
  width: 100%;
}
/* counter */

.container3 {
  margin-top: 100px;
  width: 100%;
}

.counter-box {
  display: block;
  background: var(--wihte-2);
  padding: 40px 20px 37px;
  text-align: center;
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
}

.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: var(--wihte-2);
}

.counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: var(--bgColor-b);
  line-height: 28px;
}

.counter-box.colored {
  background: var(--primary_color);
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: var(--wihte)
}
/* end counter */
/* section head */

.marquee-container .overlay {
  --gradient-color: inherit !important;
}

/* end section head */
/* content */
.awssld {
  margin-bottom: 50px;
}
.content { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  margin-bottom: 100px;
  
}

.cards_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.cards_bouquets_container{
  display: flex;
  flex-wrap: wrap;  
  width: 100%;
}

.card_shadow_bouquests{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:20px;
  width:100%;
  padding: 10px;
  box-shadow: 0px 5px 25px #0000001a;
}

@media (max-width: 640px) {
  .card_shadow_bouquests {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      padding: 10px;
      box-shadow: 0px 5px 25px #0000001a;
    }
}

.card_shadow_bouquests img{
  width: 100px;
}

.card_shadow.card {
  width: 150px;
  /* height: 300px; */
  
}


.card_shadow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  box-shadow: 6px 6px 14px 0 var(--black_opacity-2),
    -8px -8px 18px 0 var(--wihte_opacity-55);
  border-radius: 40px;
  transition: 1s;
  text-align: center;
}
.card_shadow:hover{
  transform: scale(1.05);
}
.card_shadow.card img {
  object-fit: contain;
  width: 96%;
  height: 80%;
  margin: 0 2%;
}
.card_shadow.card .card-title2 {
  width: 100%;
  background: var(--primary_color);
  padding: 5px;
  border-radius: "0 0px 3px 3px";
  text-align: center;
  position: relative;
  top: -20px;
}

.card a {
  text-align: center;
  color: var(--black);
  text-decoration: none;
}

/* card1 */

.card1 { 
  width: 24%;
  height: auto; 
  border: 1px solid var(--black);
  margin: 10px;
  padding: 0;
  border-radius: 10px;
}
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black_opacity-6) !important;
  z-index: 30;
}

.ReactModal__Content {
  width: 400px;
}
.card1 .content-card-img img {
  object-fit: contain;
  width: 100%;
  height: 80%;
  /* margin: 0 2%; */
  border-radius: 10px 10px 0 0;
}
.card1 .card-title {
  width: 100%;
  background: var(--primary_color);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  top: -20px;
}

.card1 a {
  text-align: center;
  text-decoration: none;
}

/* end card1 */
/* end content */

/* side bar  */

.wrapper .sidebar {
  background-color: #dfdddd;
  position: absolute;
  top: 50px;
  right: 0;
  width: 225px;
  direction: rtl;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  z-index: 20 ;
  opacity: 1 !important;
}
.sidebar ul {
  padding-left: 0rem !important;
}
.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: var(--font_color_sidbar);
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color:var(--font_color_sidbar);
  font-size: 14px;
}
.nav-link{
  color:var(--font_color_sidbar) !important;
}
.wrapper .sidebar ul {
  list-style-type: none;
}
.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
   
  color: var(--font_color_sidbar);
  font-size: 16px;
  position: relative;
  text-decoration: none;
}

.wrapper .sidebar ul li a .icon {
  color: var(--font_color_sidbar);
  width: 30px;
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
 
  transition: all 0.5s ease;
  color: var(--primary_color) !important;
  background: var(--black_opacity-2);
  border-right: 2px solid var(--primary_color);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: var(--primary_color);
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .section {
  width: 100%;
  margin-right: 225px;
  transition: all 0.5s ease;
}
.div_icons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px 0;
  color: var(--font_color_sidbar);

  padding: 10px;
}
.wrapper .section .top_navbar {
  background: var(--bg_color_header);
  box-shadow: var(--black_opacity-2) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px 30px;
  z-index: 35;
}
.top_navbar h2 {
  font-size: x-large;
  font-weight: bold;
  color: var(--primary_color);
}
.top_navbar p {
  font-size: large;
  color: var(--balance);
}

.wrapper .section .container {
  padding: 10px;
  width: 60%;
  line-height: 28px;
  margin: 50px auto;
}

.sidebar.active {
  left: -225px;
  display: none;

}

.section.active {
  margin-left: 0;
  width: 100%;
}
.hamburger {
  z-index: 33;
  width: 37px;
}
.sid_div_menu{
  display:flex;
  align-items: center;
}
.btn_span{
  color: var(--font_color_sidbar);
  cursor: pointer;
}
.hamburger_active span:nth-child(1) {
  transform: translate(0px, 3px) rotate(45deg);
  -webkit-transform: translate(0px, 3px) rotate(45deg);
  -moz-transform: translate(0px, 3px) rotate(45deg);
  -ms-transform: translate(0px, 3px) rotate(45deg);
  -o-transform: translate(0px, 3px) rotate(45deg);
  background: var(--hamburgerActive);
}

.hamburger_active span:nth-child(2) {
  opacity: 0;
  transform: translate(15px);
  -webkit-transform: translate(15px);
  -moz-transform: translate(15px);
  -ms-transform: translate(15px);
  -o-transform: translate(15px);
}
.hamburger_active span:nth-child(3) {
  transform: translate(-3px, 1px) rotate(-45deg);
  -webkit-transform: translate(-3px, 1px) rotate(-45deg);
  -moz-transform: translate(-3px, 1px) rotate(-45deg);
  -ms-transform: translate(-3px, 1px) rotate(-45deg);
  -o-transform: translate(-3px, 1px) rotate(-45deg);
  background: var(--hamburgerActive);
}

/* end sidebar  */

/* page login  */

.container4 {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: var(--wihte);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 var(--black_opacity-2), 0 5px 5px 0 var(--black_opacity-2);
}
.form input {
  outline: 0;
  background: var(--wihte-2);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
/* end page login */
/* .noty */

.notification-ui a:after {
  display: none;
}

.notification-ui_icon {
  position: relative;
}
.notification-ui_icon .unread-notification {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 7px;
  background-color: var(--primary_color);
  position: absolute;
  top: 7px;
  left: 12px;
}
@media (min-width: 900px) {
  .notification-ui_icon .unread-notification {
    left: 20px;
  }
}

.notification-ui_dd {
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 5px 20px -3px var(--black);
  border: 0;
}
@media (min-width: 900px) {
  .notification-ui_dd {
    position: absolute;
    left: -192px;
    top: 70px;
  }
}
.notification-ui_dd:after {
  content: "";
  position: absolute;
  top: -30px;
  left: calc(50% - 7px);
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--wihte);
  border-left: 15px solid transparent;
}
.notification-ui_dd .notification-ui_dd-header {
  border-bottom: 1px solid  var(--wihte-2);
  padding: 15px;
}
.notification-ui_dd .notification-ui_dd-header h3 {
  margin-bottom: 0;
}
.notification-ui_dd .notification-ui_dd-content {
  overflow: auto;
}
.notification-ui_dd-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 100px 0;
}
.notification-list {
  /* display: flex;
	justify-content: space-between; */
  padding: 20px 25px;
  border-bottom: 1px solid  var(--wihte-2);
  width: 100%;
border: 2px solid var(--wihte-2);
border-radius: 4px;
background-color: var(--main_background);
}
.notification-list--unread {
  position: relative;
  background: var(--wihte-2);
}
.notification-list--unread:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 1px);
  border-left: 2px solid var(--primary_color);
}
.notification-list .notification-list_img img {
  height: 42px;
  width: 42px;
  border-radius: 50px;
  margin-right: 20px;
}
.notification-list .notification-list_detail {
  margin-right: auto;
}
.notification-list .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}
.notification-list .notification-list_detail .nt-link {
  border-left: 3px solid var(--primary_color);
  line-height: 1.3;
  padding-left: 10px;
}

.notification_container{
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

/* end noty */

/* profile */
.box-form-profile {
  display: flex;
  justify-content: space-around;
}
.edit-user {
  margin: 10px;
  padding: 10px;
}

/* style bottom menu */
.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 18;
}
.tab-nav-container {
  background-color: var(--primary_color);
  /* border-top-right-radius: 20px; */
  /* border-top-left-radius: 20px; */

  box-shadow: var(--black_opacity-2) 0px 3px 8px;
  display: flex;

  padding: 12px;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  bottom: 20px;
  margin: 0 5%;
  border-radius: 20px;
}
.tab-nav-container .title {
  display: none;
}
.tab-nav-container .active_tab .title {
  display: inline !important;
  color: inherit;
}
.tab-nav-container a {
  text-decoration: none;
  color: inherit;
}
.tab {
  color: var(--wihte);
  background-color: var(--primary_color);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin: 0 5px;
  transition: background 0.4s linear;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.tab i {
  font-size: 1.2em;
}
.tab .title {
  font-weight: bold;
  overflow: hidden;
  max-width: 0;
}
.tab.active_tab .title {
  margin-left: 10px;
  max-width: 100px;
  transition: max-width 0.4s linear;
}
.tab.active_tab.purple {
  background-color: var(--bgOrang);
  color: var(--navOrang);
}
.tab.active_tab.pink {
  background-color: var(--bgOrang);
  color: var(--navOrang);
}
.tab.active_tab.yellow {
  background-color: var(--bgOrang);
  color: var(--navOrang);
}
.tab.active_tab.teal {
  background-color: var(--bgOrang);
  color: var(--navOrang);
}

/* end bottom menu */

@media (max-width: 960px) {
  .wrapper .section .container {
    width: 100%;
  }
  
}
@media (max-width: 768px) {
  .wrapper .section .container {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .wrapper .section .container {
    width: 100%;
  }

  .home nav ul {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */ 
    z-index: 10;
    text-align: center;
  }
  .home nav .is-active {
    display: block !important;
  }
  .hamburger a.is-active span {
    background-color: var(--hamburgerNotActive);
  }
  .home nav ul li {
    display: block;
    text-align: center;
    margin: 5px;
  }

}

.loading{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 250px;
}

.btn_view{
  width: 100%;
  padding: 4px;
  margin: 10px 0;
  background-color: var(--primary_color);
  color: #fff !important;
  
}

.comment{
display: flex;
align-items: center;
gap: 10px;
margin-bottom: 40px;
padding: 10px 0;
}

.comment span{
  font-size: large;
}
.comment p{
  font-size: small;
  color: #919090;
}